<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Lux Nginx Server</h1>
  <h3>Hello from the Docker container!</h1>
  <h3>Public IP adress: <b>{{ server_ip }}</b></h3>
  <h3>Public DNS adress: <b>{{ server_dns }}</b></h3>
</body>
</html>
